@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
margin:0;
padding:0;  
}

body{
    font-family:sans-serif;
    font-size:14px;
    font-family: 'Roboto';
}

.listado-todos > ul {list-style: none;display: flex;flex-direction: column;}

.listado-todos > ul > li {
    padding: 10px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-home {
    margin: 20px 60px;
}

.listado-todos > ul > li ul.barra-acciones-tarea {
    list-style: none;
    display: flex;
}

.listado-todos > ul > li ul.barra-acciones-tarea > li{
    margin:0 5px;
}

.listado-todos > ul > li ul.barra-acciones-tarea > li button{
    border:none;
    background:none;
    border-bottom:1px solid #ededed;
}